@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



.nav {
  background: linear-gradient(90deg,#020617,#020617,#020617)
}
.header{
  background: linear-gradient(90deg, #020617, #020617, #020617)

}
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes waveAnimation1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes waveAnimation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes waveAnimation3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(75px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(90deg, #111827, #09090b, #020617); /* Adjusted opacity */
}

.wave1 {
  animation: waveAnimation1 16s infinite alternate;
}

.wave2 {
  animation: waveAnimation2 10s infinite alternate;
}

.wave3 {
  animation: waveAnimation3 7s infinite alternate;
}
.content {
  z-index: 2; 
  padding: 20px;
}


@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
